<body>
<div class="bg">
<%= render 'home/header' %>

<div style="padding: 10%">

	<table>
	<div class="row mx-md-n5">
		<div class="col px-md-5">
			<div class="bg-*">
				<h5 style="font-size: 2.5vw; font-weight: normal;">All-new and Economical</h5>
				<br/>
				<h6 style="font-size: 1.5vw; font-weight: lighter;">FaultyFocusing on providing high quality products at highly competitive prices. Product lines include a wide selection of Office Supplies, Computer Products, Office Furnitures, CCTV Products, Medical kits, Bond Paper and Tablets at its lowest cost.</h6>
				
				
			</div>
		</div>
	
		<div class="col px-md-5">
			<div class="bg-*">
				<img src="/infoweb/final/5_upd.png">
			</div>
		</div>
	</div>
	</table>
</div>

</div>
</body>