<body>
<div class="bg">
<%= render 'home/header' %>
<div style="padding: 50px">
<h1>Connect with us</h1>
</div>


<article></article>



<div class="row mx-md-n5">
	<div class="col px-md-5">
		<div class="bg-*">
		  	<h2>MAIN OFFICE</h2>
		  	<h4>Camarines Norte State College</h4>
			<h4>Brgy II, F. Pimentel Ave., Daet,</h4>
			<h4>Camarines Norte 4600</h4>
			<h4>0908-889-0357</h4>
		</div>
	</div>
	<div class="col px-md-5">
		<div class="bg-*">
			<h2>SOCIAL PLATFORM</h2>
			<h4><a href="https://www.facebook.com/arikgeneralmerchandising">Facebook</a></h4>
			<h6>facebook.com/arikgeneralmerchandising</h6>
			<h4><a href = "mailto: arikgeneralmerchandising01@gmail.com">Gmail</a></h4>
			<h6>arikgeneralmerchandising01@gmail.com</h6>
		</div>
	</div>
</div>

</div>
</body>