<body>
<div class="bg">

<%= render 'home/header' %>
<div style="padding: 50px">
<h2  style="font-size: 3vw;">Connect with us</h2>
</div>


<article></article>


<table>
<div class="row mx-md-n5">
	<div class="col px-md-5">
		<div class="bg-*">
		  	<h4 style="font-size: 2vw;">MAIN OFFICE</h4>
		  	<h5 style="font-size: 1vw;">Camarines Norte State College</h5>
			<h5 style="font-size: 1vw;">Brgy II, F. Pimentel Ave., Daet,</h5>
			<h5 style="font-size: 1vw;">Camarines Norte 4600</h5>
			<h5 style="font-size: 1vw;">0908-889-0357</h5>
		</div>
	</div>
	<br/>
	<div class="col px-md-5">
		<div class="bg-*">
			<h4 style="font-size: 2vw;">SOCIAL PLATFORM</h4>
			<h5 style="font-size: 1vw;"><a href="https://www.facebook.com/arikgeneralmerchandising">Facebook</a></h5>
			<h6 style="font-size: 1vw;">facebook.com/arikgeneralmerchandising</h6>
			<h5 style="font-size: 1vw;"><a href = "mailto: arikgeneralmerchandising01@gmail.com">Gmail</a></h5>
			<h6 style="font-size: 1vw;">arikgeneralmerchandising01@gmail.com</h6>
		</div>
	</div>
</div>
</table>

</div>
</body>