<%= render 'home/header' %>

<body>
</br>
</br>
<h3 style="border-bottom: 3px; border-color: #f94617; text-align: center; font-weight: bolder; border-bottom-style: solid; margin-left: 40%; margin-right: 40%">Contact Us</h3>
<h5 style="color: black; margin-left: 20%; margin-right: 20%; text-align: center;">Do you have an inquiry? Talk to us so we can connect you to our friendly team of experts.</h5>
<h5 style="color: black; margin-left: 20%; margin-right: 20%; text-align: center;">Do you live nearby? Visit us and let us assist your needs.
</h5>
</br>

<img src="/newinfoweb/imgsupport.png" align="left" width="40%">
</br>

<div class="nav-center">
	<form action="https://getform.io/f/b1abe13b-f725-4b84-9eab-a4609ca1b1e7" method="POST">

		<input type="text" name="name" placeholder="Your Name*">
		</br>
		</br>
	    	

	    <input type="email" name="email" placeholder="E-mail*">
	    </br>
	    </br>

	    <input type="number" name="phonenum" placeholder="Phone Number*">
	    </br>
	    </br>
	    
	    <input type="text" name="message" placeholder="Message*">
	    <input type="image" src="/newinfoweb/iconsendmsg.png" style="border: none; width: 15%;">
	</form>
</div>
</body>