<%= render 'home/header' %>
<body>
	<div class="nav-center">
		<img src="/newinfoweb/hdrcshotline.png" width="70%" style="border-top-left-radius: 36px; border-top-right-radius: 36px;">
	</div>
		<form class="form-inline" style="margin-left: 20%; margin-right: 20%;">
				<div class="container2">
					<img src="/newinfoweb/imgtechsupp.png" width="100%">
					<div class="bottom-center" style="margin-left: 0; margin-right: 0;">
						<h5 style="font-weight: bolder; font-size: 1vw;">CONTACT TECH SUPPORT</h5>
						<h6 style="color: black; font-weight: lighter;">Technical or Gadget Problem</h6>
					</div>
				</div>

				<div class="container2">
					<img src="/newinfoweb/imgcustsupport.png" width="100%">
					<div class="bottom-center">
						<h5 style="font-weight: bolder; font-size: 1vw;">CONTACT SUPPORT</h5>
						<h6 style="color: black; font-weight: lighter;">Inquiries or specific issue with our products</h6>
					</div>
				</div>
		</form>

	


</body>