
<title>Arik General Merchandising</title>


<body>
<div class="bg">

	<%= render 'home/header' %>
	<img src="/infoweb/final/3_upd.png">
	<div style="padding: 5%">

	


<table>
<div class="row mx-md-n5">
	<div class="col px-md-5">
		<div class="bg-*">
			<h4 style="font-size: 4vw; font-weight: normal;">"QUALITY doesn't have to be EXPENSIVE"</h4>
			
		</div>
	</div>
	<br/>
	<div class="col px-md-5">
		<div class="bg-*">
			<img src="/infoweb/final/2_upd.png">
		</div>
	</div>
</div>
</table>
	</div>
</div>
</body>