<!DOCTYPE html>
<html lang="en">

<head>
  <!--====== Required meta tags ======-->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!--====== Title ======-->
  <title>Arik</title>


  <!--====== Bootstrap css ======-->
  

  <!--====== Line Icons css ======-->
  <link rel="stylesheet" href="/assets/css/lineicons.css" />

  <!--====== Tiny Slider css ======-->
  <link rel="stylesheet" href="/assets/css/tiny-slider.css" />

  <!--====== gLightBox css ======-->
  <link rel="stylesheet" href="/assets/css/glightbox.min.css" />

  
</head>

<body>

  <!--====== NAVBAR NINE PART START ======-->

  <section class="navbar-area navbar-nine">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <img src="/assets/images/ariklogowht.png" alt="Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNine"
              aria-controls="navbarNine" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarNine">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="page-scroll active" href="#hero-area">Home</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#services">Products</a>
                </li>

                <li class="nav-item">
                  <a class="page-scroll" href="#pricing">Services</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#aboutus">About Us</a>
                </li>
				<li class="nav-item">
                  <a class="page-scroll" href="#contact">Contact Us</a>
                </li>
              </ul>
            </div>


          </nav>
          <!-- navbar -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>

  <!--====== NAVBAR NINE PART ENDS ======-->



  <!-- Start header Area -->
  <section id="hero-area" class="header-area header-eight">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="header-content">
            <h1>Arik General Merchandising</h1>
            <p>
              Continuously advancing for you.<br/><br/>
              <b>LEVEL UP YOUR PRODUCTIVITY</b>
              <br/><br/>The home of all your tech supplies, office essentials and more made available for your convenience.
            </p>
            <div class="button">
              <a href="#services" class="btn primary-btn">Get Started</a>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="header-image">
            <img src="assets/images/header/homepage.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End header Area -->



  <!-- ===== service-area start ===== -->
  <section id="services" class="services-area services-eight">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h6>Products</h6>
              <h2 class="fw-bold">AVAILABLE NOW</h2>
              <p>
                Level up your productivity
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-tab"></i>
            </div>
            <div class="service-content">
              <h4>TABLETS</h4>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-school-bench"></i>
            </div>
            <div class="service-content">
              <h4>OFFICE FURNITURE</h4>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-pencil-alt"></i>
            </div>
            <div class="service-content">
              <h4>OFFICE SUPPLIES</h4>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-display-alt"></i>
            </div>
            <div class="service-content">
              <h4>COMPUTERS</h4>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-video"></i>
            </div>
            <div class="service-content">
              <h4>CCTV</h4>
              <p>
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-first-aid"></i>
            </div>
            <div class="service-content">
              <h4>MEDICAL KITS</h4>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== service-area end ===== -->


  <!-- Start Pricing  Area -->
  <section id="pricing" class="pricing-area pricing-fourteen">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h6>Services</h6>
              <h2 class="fw-bold">Why Choose Us</h2>
              <p>
                Our continuous focus on product expansion and very strong customer support will be your asset in 
				growing your business and be the top in your industry. We make you concentrate more on what you do best – your business.
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              
                
                <div class="price">
                  <h2 class="amount">
                    <br/>FAQ
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Click here
              </a>
            </div>


          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              
                <div class="price">
                  <h2 class="amount">
                    User<br/>Guide
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Click here
              </a>
            </div>


          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              
                <div class="price">
                  <h2 class="amount">
                    Service<br/>Center
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Click here
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ End Pricing  Area -->



  <!-- Start Cta Area -->
  <section id="call-action" class="call-action">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
          <div class="inner-content">
            <h2>We love to make provide goods<br /> and services for your business</h2>
            <p>
              Our product line includes a wide selection of tablets, office supplies, <br />
			  computer products, office furniture, CCTV products, medical kits, <br />
			  and wholesale or retail bond papers that’s budget friendly <br />
			  in exchange for high quality products.
            </p>
            <div class="light-rounded-buttons">
              <a href="#contact" class="btn primary-btn-outline">Contact us now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Cta Area -->



  <!-- Start Latest News Area -->
  <div id="aboutus" class="latest-news-area section">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              
              <h2 class="fw-bold">About Us</h2>
              <p>
                We provide you all the goods & services your business needs, combined with personalized customer service you deserve.
				 Our product line includes a wide selection of tablets, office supplies, computer products, office furniture, CCTV products, medical kits, 
				 and wholesale or retail bond papers that’s budget friendly in exchange for high quality products.
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="assets/images/aboutus/iconpeople1.png" alt="Blog" /></a>
              <div class="meta-details">
                
                <span>ARVIN ARIK B. CARRANCEJA</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">OWNER/PROPRIETOR</a>
              </h4>

            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="assets/images/aboutus/iconpeople2.png" alt="Blog" /></a>
              <div class="meta-details">
                
                <span>JOANNA MARIE V. CARRANCEJA</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  DEPUTY CEO
                </a>
              </h4>

            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="assets/images/aboutus/iconpeople3.png" alt="Blog" /></a>
              <div class="meta-details">
                
                <span>JANELLE MARIE ORMOC</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  CHIEF FINANCE OFFICER
                </a>
              </h4>

            </div>
          </div>
          <!-- End Single News -->
        </div>
		<div class="col-lg-3 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="assets/images/aboutus/iconpeople4.png" alt="Blog" /></a>
              <div class="meta-details">
                
                <span>JTEE AQUINO</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  CHIEF OPERATING OFFICER
                </a>
              </h4>

            </div>
          </div>
          <!-- End Single News -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Latest News Area -->



  <!-- ========================= contact-section start ========================= -->
  <section id="contact" class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <div class="contact-item-wrapper">
            <div class="row">
              <div class="col-12 col-md-6 col-xl-12">
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="lni lni-phone"></i>
                  </div>
                  <div class="contact-content">
                    <h4>Contact</h4>
                    <p>0908 889 0357</p>
                    <p>arikgeneralmerchandising<br />@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-12">
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="lni lni-map-marker"></i>
                  </div>
                  <div class="contact-content">
                    <h4>Address</h4>
                    <p>Camarines Norte State College,</p>
					<p>Brgy II, F. Pimentel Ave.,</p>
                    <p>Daet, Camarines Norte</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-12">
                <div class="contact-item">
                  <div class="contact-icon">
                    <i class="lni lni-alarm-clock"></i>
                  </div>
                  <div class="contact-content">
                    <h4>Schedule</h4>
                    <p>Open daily</p>
                    <p>Office time: 8 AM - 6 PM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="contact-form-wrapper">
            <div class="row">
              <div class="col-xl-10 col-lg-8 mx-auto">
                <div class="section-title text-center">
                  <span> Contact Us </span>
                  <h3>
                    Contact Form
                  </h3>
                  <p>
                    Fill in the contact form and we will answer you shortly.
                  </p>
                </div>
              </div>
            </div>
            <form action="https://getform.io/f/b1abe13b-f725-4b84-9eab-a4609ca1b1e7" method="POST" class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="name" id="name" placeholder="Name" required />
                </div>
                <div class="col-md-6">
                  <input type="email" name="email" id="email" placeholder="Email" required />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="phone" id="phone" placeholder="Phone" required />
                </div>

              </div>
              <div class="row">
                <div class="col-12">
                  <textarea name="message" id="message" placeholder="Enter Message" rows="5"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="button text-center rounded-buttons">
                    <button type="submit" class="btn primary-btn rounded-full">
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= contact-section end ========================= -->
<br />
<br />
  <!-- ========================= map-section end ========================= -->
  <section class="map-section map-style-9">
    <div class="map-container">
      <object style="border:0; height: 500px; width: 80%; margin-left: 10%; margin-right: 10%;"
        data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3869.4761392863747!2d122.95381411483451!3d14.108073290117638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3398aef793bfd7b5%3A0x655831e3938998b!2sArik%20General%20Merchandising!5e0!3m2!1sen!2sph!4v1654177354322!5m2!1sen!2sph"></object>
    </div>
    </div>
  </section>
  <!-- ========================= map-section end ========================= -->

  <!-- Start Footer Area -->
  <footer class="footer-area footer-eleven">
    <!-- Start Footer Top -->
    <div class="footer-top">
      <div class="container">
        <div class="inner-content">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="footer-widget f-about">
                <div class="logo">
                  <a href="index.html">
                    <img src="assets/images/ariklogo.png" alt="#" class="img-fluid" />
                  </a>
                </div>
                <p>
                  Level up your productivity.
                </p>

              </div>
              <!-- End Single Widget -->
            </div>
            <div class="col-lg-2 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="footer-widget f-link">
                <h5>Sitemap</h5>
                <ul>
                  <li><a href="javascript:void(0)">Products</a></li>
                  <li><a href="javascript:void(0)">Services</a></li>
                  <li><a href="javascript:void(0)">About Us</a></li>
                  <li><a href="javascript:void(0)">Contact Us</a></li>
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>

            <div class="col-lg-4 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="footer-widget newsletter">
                <h5>Subscribe</h5>
                <p>Subscribe to our newsletter for the latest updates</p>
                <form action="https://getform.io/f/b1abe13b-f725-4b84-9eab-a4609ca1b1e7" method="post" target="_blank" class="newsletter-form">
                  <input name="EMAIL" placeholder="Email address" required="required" type="email" />
                  <div class="button">
                    <button class="sub-btn">
                      <i class="lni lni-envelope"></i>
                    </button>
                  </div>
                </form>
              </div>
              <!-- End Single Widget -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Footer Top -->
  </footer>
  <!--/ End Footer Area -->



  <a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
  </a>

  <!--====== js ======-->
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/glightbox.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/tiny-slider.js"></script>

  <script>

    //===== close navbar-collapse when a  clicked
    let navbarTogglerNine = document.querySelector(
      ".navbar-nine .navbar-toggler"
    );
    navbarTogglerNine.addEventListener("click", function () {
      navbarTogglerNine.classList.toggle("active");
    });

    // ==== left sidebar toggle
    let sidebarLeft = document.querySelector(".sidebar-left");
    let overlayLeft = document.querySelector(".overlay-left");
    let sidebarClose = document.querySelector(".sidebar-close .close");

    overlayLeft.addEventListener("click", function () {
      sidebarLeft.classList.toggle("open");
      overlayLeft.classList.toggle("open");
    });
    sidebarClose.addEventListener("click", function () {
      sidebarLeft.classList.remove("open");
      overlayLeft.classList.remove("open");
    });

    // ===== navbar nine sideMenu
    let sideMenuLeftNine = document.querySelector(".navbar-nine .menu-bar");

    sideMenuLeftNine.addEventListener("click", function () {
      sidebarLeft.classList.add("open");
      overlayLeft.classList.add("open");
    });

    //========= glightbox
    GLightbox({
      'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
      'type': 'video',
      'source': 'youtube', //vimeo, youtube or local
      'width': 900,
      'autoplayVideos': true,
    });

  </script>
</body>

</html>