
<title>Arik General Merchandising</title>



<%= render 'home/header' %>


	
	<div class="bg">
		
	
		<div class="relative">
			<form class="form-inline">
					<h5 style="color: black">Continuously advancing for 
					<b style="color: black"> you.</b>
					</h5>
			</form>
			
			<h3 style="font-size: 3vw; font-weight: bolder;">LEVEL UP YOUR PRODUCTIVITY</h3>
			<h5 style="color: black">The home of all your tech supplies, office essentials and more made available for your convenience.</h5>
		</div>
	</div>		
		


