<body>
<div class="bg">
<%= render 'home/header' %>

<div style="padding: 10% 10% 0px 10%">
	<h2  style="font-size: 3vw; text-align: center; font-weight: lighter;">Our Products</h2>
	
</div>
<img src="/infoweb/final/prod_whole.png">
</div>
</body>