<body>
<div class="bg">
<%= render 'home/header' %>

<div style="padding: 10%">

	<table>
	<div class="row mx-md-n5">
		<div class="col px-md-5">
			<div class="bg-*">
				<h5 style="font-size: 2.5vw; font-weight: normal;">Expert Tech Support</h5>
				<br/>
				<h6 style="font-size: 1vw; font-weight: lighter;">Faulty phone battery? Slow laptop? We have in-house tech experts who can assist you.</h6>
				<br/>
				<h6 style="font-size: 1vw; font-weight: lighter;">Visit us in stores!</h6>
				<br/>
			</div>
		</div>
	</div>	
	<div class="row mx-md-n5">
		<div class="col px-md-5">
			<div class="bg-*">
				<h6 style="font-size: 2vw; font-weight: normal;">Our Location</h6>
				<br/>
				<h6 style="font-size: 1vw; font-weight: lighter;">CNSC Pavillion F. Pimentel Ave.,</h6>
				<h6 style="font-size: 1vw; font-weight: lighter;">Daet, Camarines Norte</h6>
				<h6 style="font-size: 1vw; font-weight: lighter;">0908-889-0357</h6>
			</div>
		</div>	
		<div class="col px-md-5">
			<div class="bg-*">
				<img src="/infoweb/final/4_upd.png">
			</div>
		</div>
	</div>
	</table>
</div>

</div>
</body>