<%= render 'home/header' %>
<body>
	<div class="nav-center">
		<img src="/newinfoweb/hdrourservices.png" width="70%" style="border-top-left-radius: 24px; border-top-right-radius: 24px;">
		
	</div>
	</br>
	<h3 style="font-weight: bolder; text-align: center;">Why Choose Us</h3>
	<h5 style="color: black; text-align: center; margin-left: 20%; margin-right: 20%;">Our continuous focus on product expansion and very strong customer support will be your asset in growing your business and be the top in your industry. We make you concentrate more on what you do best – your business.</h5>
	<div class="nav-center" style="margin-left: 10%; margin-right: 10%;">
		<a href="/">
			<img src="/newinfoweb/iconfaq.png" width="15%">
		</a>
		<img src="/newinfoweb/icontshoot.png" width="15%">
		<img src="/newinfoweb/iconuguide.png" width="15%">
		<img src="/newinfoweb/iconscenter.png" width="15%">
		<img src="/newinfoweb/iconaddress.png" width="15%">
	</div>
</body>